html {
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

h1 {
    font-family: 'Arial', ' sans-serif';
}

.button {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid black 2px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#black {
    background: black;
}

#green{
    background: green;
}

h2 {
    font-family: 'Arial', ' sans-serif';
}