* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 3px black solid;
}


.main {
    background-color: whitesmoke;
    padding: 30px;
    border: 2px black solid;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main input {
    height: 30px;
    width: 300px;
    padding-left: 4px;
}

.main button {
    margin: 5px;
    height: 35px;
    width: 50px;
    border: 2px black solid;
    border-radius: 2px;
    background-color: black;
    color: white;
}

.error{
    visibility: hidden;
    margin-top: 20px;
    color: red;
}

.alltaskcontainer {
    margin-top: 5px;
    border: black 2px solid;
    height: 300px;
    width: 500px;
    overflow-y: auto;
}

.alltaskcontainer ol {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

.alltaskcontainer ul {
    margin: 2px;
    border: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.alltaskcontainer li {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.alltaskcontainer button {
    margin: 5px;
    height: 30px;
    width: 50px;
    border: 2px black solid;
    border-radius: 2px;
    background-color: black;
    color: white;
}